In [1]:
#1 Label Encoder
#2 One Hot Encoder

In [5]:
from sklearn import preprocessing
import pandas as pd

In [4]:
le = preprocessing.LabelEncoder()

In [6]:
data = pd.DataFrame({'animals':['cat','dog','horse']})

In [7]:
data

  animals
0     cat
1     dog
2   horse

In [8]:
le.fit(data)

/usr/local/lib/python3.7/dist-packages/sklearn/preprocessing/_label.py:235: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LabelEncoder()

In [9]:
encoded_data = le.transform(data)

/usr/local/lib/python3.7/dist-packages/sklearn/preprocessing/_label.py:268: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [10]:
encoded_data

array([0, 1, 2])

In [11]:
####

In [12]:
ohe = preprocessing.OneHotEncoder()

In [13]:
ohe.fit(data)

OneHotEncoder(categories='auto', drop=None, dtype=<class 'numpy.float64'>,
              handle_unknown='error', sparse=True)

In [14]:
encoded_ohe_data = ohe.transform(data)

In [15]:
encoded_ohe_data.toarray()

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])